<!DOCTYPE html>
<!--데리버거 고쳐진 version
    치키는 안고쳐진 version
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lotteria</title>
    <link rel="stylesheet" th:href="@{/styles/font.css}"/>
    <link rel="stylesheet" th:href="@{/styles/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/styles/lotteria.css}"/>
</head>
<body>
<header class="title-box wrap-box">
    <h3 class="inner-box">롯데리아</h3>
</header>
<article class="wrap-box">
    <section class="inner-box tab-box">
        <label aria-label="추천메뉴 탭" role="tab">
            <span>추천메뉴</span>
            <input checked="checked" hidden="hidden" name="tab-content" type="radio"/>
        </label>
        <label aria-label="전체메뉴 탭" role="tab">
            <span>전체메뉴</span>
            <input hidden="hidden" name="tab-content" type="radio"/>
        </label>
        <label>
            <span>이름</span>
            <input id="search-input" class="search-field" type="text">
        </label>
    </section>
    <section id="hamburger-list" class="inner-box list-box"></section>
</article>
<template id="hamburger-template">
    <div class="hamburger-box">
        <img id="hamburger-image" alt="#" class="hamburger-image" />
        <p id="hamburger-name" class="hamburger-data hamburger-name"></p>
        <p id="hamburger-price" class="hamburger-data hamburger-price"></p>
    </div>
</template>
<script>
    // document.addEventListener("DOMContentLoaded", async () => {
    //
    //     const searchInput = document.getElementById('search-input')
    //
    //     const list_box = document.querySelector(".list-box")
    //     const Hamburgers = await fetch("/lotteria-menus").then(res => res.json())
    //     console.log(Hamburgers)
    //     Hamburgers.forEach(el => {
    //         const Box = document.createElement("div")
    //         const Image = document.createElement("img")
    //         const Name = document.createElement("p")
    //         const Price = document.createElement("p")
    //
    //         Image.setAttribute("id", "hamburger-image")
    //         Name.setAttribute("id", "hamburger-name")
    //         Price.setAttribute("id", "hamburger-price")
    //
    //         Box.classList.add("hamburger-box")
    //         Image.classList.add("hamburger-image")
    //         Name.classList.add("hamburger-name", "hamburger-data")
    //         Price.classList.add("hamburger-price", "hamburger-data")
    //
    //         Name.textContent = `${el.name}`
    //         Price.textContent = `${el.price}`
    //
    //         Image.src = `${el.imagePath}`
    //         Image.alt = `${el.name}`
    //
    //         Box.appendChild(Image)
    //         Box.appendChild(Name)
    //         Box.appendChild(Price)
    //
    //         list_box.appendChild(Box)
    //
    //     })
    //
    // })

    (function() {
        window.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('search-input');
            // const hamburgers = (await (await fetch('lotteria-menus')).json())
            const hamburgerSection = document.getElementById('hamburger-list');
            const hamburgerTemplate = document.getElementById('hamburger-template');
            //
            // for (const hamburger of hamburgers) {
            //     const hamburgerTemplateClone = hamburgerTemplate.content.cloneNode(true)
            //     const hamburgerImage = hamburgerTemplateClone.getElementById('hamburger-image')
            //     const hamburgerName = hamburgerTemplateClone.getElementById('hamburger-name')
            //     const hamburgerPrice = hamburgerTemplateClone.getElementById('hamburger-price')
            //
            //     hamburgerImage.setAttribute('alt', hamburger.name)
            //     hamburgerImage.setAttribute('src', hamburger.imagePath)
            //     hamburgerName.textContent = hamburger.name
            //     hamburgerPrice.textContent = hamburger.price
            //     hamburgerSection.appendChild(hamburgerTemplateClone)
            // }

            searchInput.addEventListener('input', async ($event) => {

                const encodedValue = window.encodeURIComponent($event.target.value ?? '');
                const hamburgers = await fetch(`lotteria-menus?hamburgerName=${encodedValue}`)
                    .then(response => response.json());

                hamburgerSection.innerHTML = "";
                for (const hamburger of hamburgers) {
                    const hamburgerTemplateClone = hamburgerTemplate.content.cloneNode(true);
                    const hamburgerImage = hamburgerTemplateClone.getElementById('hamburger-image');
                    const hamburgerName = hamburgerTemplateClone.getElementById('hamburger-name');
                    const hamburgerPrice = hamburgerTemplateClone.getElementById('hamburger-price');

                    hamburgerImage.setAttribute('alt', hamburger.name);
                    hamburgerImage.setAttribute('src', hamburger.imagePath);
                    hamburgerName.textContent = hamburger.name;
                    hamburgerPrice.textContent = hamburger.price;
                    hamburgerSection.appendChild(hamburgerTemplateClone);
                }

                console.log(hamburgerSection.childNodes, hamburgerSection.childElementCount);
            });
        });
    })();
</script>
</body>
</html>