<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lotteria</title>
    <link rel="stylesheet" th:href="@{/styles/font.css}" />
    <link rel="stylesheet" th:href="@{/styles/normalize.css}" />
    <link rel="stylesheet" th:href="@{/styles/lotteria.css}" />
</head>
<body>
    <header class="title-box wrap-box">
        <h3 class="inner-box">롯데리아</h3>
    </header>
    <article class="wrap-box">
        <section class="inner-box tab-box">
            <label aria-label="추천메뉴 탭" role="tab">
                <span>추천메뉴</span>
                <input checked="checked" hidden="hidden" name="tab-content" type="radio" />
            </label>
            <label aria-label="전체메뉴 탭" role="tab">
                <span>전체메뉴</span>
                <input hidden="hidden" name="tab-content" type="radio" />
            </label>
            <label>
                <span>이름</span>
                <input id="search-hamburger" class="search-field" type="text">
            </label>
        </section>
        <section class="inner-box list-box">
            <div class="hamburger-box">
                <img id="hamburger-image" class="hamburger-image" />
                <p id="hamburger-name" class="hamburger-data hamburger-name"></p>
                <p id="hamburger-price" class="hamburger-data hamburger-price"></p>
            </div>
        </section>
    </article>
    <script>
        (function(){
            window.addEventListener('DOMContentLoaded'), async function(){
                try{
                    const hamburgers = (await fetch('lotteria-menus')).json();
                    const hamburgerList = document.getElementById('hamburger-list');
                    const hamburgerTemplate = document.getElementById('hamburger-template');

                    for (const hamburger of hamburgers) {
                        const hamburgerTemplateClone = hamburgerTemplate.content.cloneNode(ture);

                        const hamburgerImage = hamburgerTemplateClone.querySelector('.hamburger-image');
                        const hamburgerName = hamburgerTemplateClone.querySelector('.hamburger-name');
                        const hamburgerPrice = hamburgerTemplateClone.querySelector('.hamburger-price');

                        hamburgerImage.src = hamburger.imagePath;
                        hamburgerName.textContent = hamburger.name;
                        hamburgerPrice.textContent = `${hamburger.price}원`;

                        hamburgerList.appendChild(hamburgerTemplateClone);
                    }
                }catch (error){
                    console.error(error);
                }
            }
        })
        // (function(){
        //     window.addEventListener('DOMContentLoaded', async function(){
        //         // 1번
        //         const hamburgers = (await (await fetch('lotteria-menus')).json());
        //         const hamburgerList = document.getElementById('hamburger-list');
        //         const hamburgerTemplate = document.getElementById('hamburger-template');
        //
        //         for (const hamburger of hamburgers) {
        //             const hamburgerTemplateClone = hamburgerTemplate.content.cloneNode(ture);
        //             const hamburgerTmage = hamburgerTemplateClone.getElementById('hamburger')
        //             const haburgerText = hamburgers.getElementById('ham')
        //         }
        //
        //         // 2번
        //         // const hamburgers = await fetch('lotteria-menus').then(data => data.json());
        //         console.log(hamburgers)
        //     });
        //
        // })();
    </script>
</body>
</html>